@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');



.header {
    background-color: rgb(114, 184, 207);  
    height: 75px;
}

.footer {
    background-color: #72b8cf;
    height: 40px;
}

.logInH1 {
    color: blue;
    font-family: Poppins;
}

.logInButton{
    margin-right: 5px;
    background-image: linear-gradient(-180deg, #1e3038 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 13px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}

#pass {
    width: 200px;
    height: 30px;
}

#name {
    width: 200px;
    height: 30px;
}

.inputFields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
}



.logInButton:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}
