.edit-profile {
    margin: 20px;
    margin-bottom: 50px;

    .imageUpload{
        img {
            width: 100%;
            max-width: 300px;
            border: 1px solid rgb(200,200,200);
            display: block;
            margin: 0 auto 10px auto;
        }
    }

    div {
        margin-top: 2rem;
    }

    input, textarea {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(230,230,230);
    }

    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: white;
    }

    .remove-language {
        border: 1px solid rgb(150,150,150);
        border-radius: 4px;
        font-weight: 400;
        margin-right: 10px;
    }

    .form-label {
        font-weight: 600;
        font-size: 1.15rem;
    }
}